spring:
  datasource:
    url: jdbc:mysql://103.43.8.83:3306/library_management?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: mysql_ZAxX6G
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  data:
    redis:
      host: localhost
      port: 6379
      database: 0

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath*:/mapper/**/*.xml

jwt:
  secret: mysecretkeymysecretkeymysecretkeymysecretkeymysecretkeymysecretkey
  expiration: 86400000 # 24 hours
